.body{
    margin: 0;
    font-family: Sans-serif;
}
.nav-bar{
    padding: 40px 50px;
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 970px){
    .nav-bar{
        background-color: #77c300;
        padding: 20px;
    }
}
.nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width: 970px){
    .nav-list{
        display: none;
    }
}
.nav-contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5px;
}
.vertical-line{
    background-color: lightgray;
    width: 1px;
    height: 100%;
    margin-left: 10px;
}
.second-nav-bar{
    background-color: #77c300;
    padding: 25px 50px;
    border-bottom: 2px solid white;
    display: flex;
}
@media screen and (max-width: 970px){
    .second-nav-bar{
        display: none;
    }
}
.nav-link{
    text-decoration: none;
    color: white;
    margin-right: 20px;
}
.carosal{
    background-image: url('../images/carosal-background.jpg');
    background-size: cover;
    padding: 200px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.caro-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #493d35;
    padding: 10px 20px;
}
.caro-btn{
    height: 45px;
    width: 45px;
    border: none;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.8);
    color: white;
    font-size: x-large;
    font-weight: bold;
    margin: 20px;
}
@media screen and (max-width: 970px){
    .caro-btn{
        display: none;
    }
}
.fab{
    margin-left: 15px;
    margin-right: 5px;
    color: #77c300;
}
.far{
    margin-right: 10px;
    margin-left: 10px;
    color: #77c300;
}
.fa-search{
    color: white;
    margin-left: auto;
    margin-right: 10px;
}
.nav-mobile{
    display: none;
}
@media screen and (max-width: 970px){
    .nav-mobile{
        display: flex;
        align-items: center;
        font-size: x-large;
        color: white;
    }
}
.caro-ques{
    color: #77c300;
}
.caro-text{
    color: white;
    font-size: x-large;
    font-weight: bold;
    margin-top: 0;
}
.fa-arrow-right{
    color: white;
    margin-right: 20px;    
}
.caro-inner-btn{
    background-color: #77c300;
    color: white;
    border: none;
    border-radius: 10px;
    height: 50px;
    font-size: large;
    font-weight: bold;
    padding: 10px 15px;
    margin: 20px;
}
@media screen and (max-width: 970px){
    .caro-inner-btn{
        padding: 5px 10px;
        font-size: small;
        font-weight: bold;
    }
}
.under-caro{
    display: flex;
    padding: 50px;
}
@media screen and (max-width: 970px){
    .under-caro{
        display: block;
    }
}
.under-caro .img-por{
    width: 30%;
}
@media screen and (max-width: 970px){
    .under-caro .img-por{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}
.under-caro .text-por{
    width: 70%;
    font-family: serif;
    color: #565656;
    padding-right: 20px;
}
@media screen and (max-width: 970px){
    .under-caro .text-por{
        width: 100%;
    }
}
.under-caro .text-por .first-head{
    color: #77c300;
    font-size: xxx-large;
    font-weight: bolder;
    margin: 0;
    margin-top: 10px;
}
.under-caro .text-por .second-head{
    font-size: xx-large;
    margin: 10px 0;
}
.under-caro .text-por .para{
    font-family: sans-serif;
    text-align: justify;
}
.img-uc{
    margin: 15px 0;
}
.uc-row{
    display: flex;
}
@media screen and (max-width: 970px){
    .uc-row{
        display: block;
    }
}
.uc-media{
    display: flex;
    font-family: serif;
    color: #565656;
    width: 50%;
}
@media screen and (max-width: 970px){
    .uc-media{
        width: 100%;
    }
}
.uc-media .media-img{
    width: 60px;
    height: 60px;
}
.uc-media .media-text{
    padding: 0 10px;
}
.uc-media .media-text .media-heading{
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: x-large;
    font-weight: bold;
}
.uc-media .media-text .media-para{
    text-align: justify;
}
.img-stack-por{
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 970px){
    .img-stack-por{
        display: block;
        padding: 20px;
    }
}
.img-stack-por .img-stack{
    width: 30%;
}
@media screen and (max-width: 970px){
    .img-stack-por .img-stack{
        width: 100%;
    }
}
.gar-img-up, .gar-img-down{
    box-shadow: 2px 0 10px 0 rgba(0,0,0, 0.2);
    border: 10px solid white;
    border-radius: 5px;
    width: 70%;
    height: 300px;
}
@media screen and (max-width: 970px){
    .gar-img-up, .gar-img-down{
        border-width: 20px;
        width: 50%;
        height: 600px;
    }
}
.gar-img-up{
    position: relative;
    top: -280px;
    margin-bottom: -280px;
}
@media screen and (max-width: 970px){
    .gar-img-up{
        top: -550px;
    }
}
.gar-img-down{
    position: relative;
    left: 55%;
    z-index: -1;
}
@media screen and (max-width: 970px){
    .gar-img-down{
        left: 45%;
    }
}
.img-stack-por .text-por{
    width: 55%;
    font-family: serif;
    color: #565656;
    padding-right: 20px;
}
@media screen and (max-width: 970px){
    .img-stack-por .text-por{
        width: 100%;
        margin-top: -550px;
    }
}
.img-stack-por .text-por .first-head{
    color: #77c300;
    font-size: xxx-large;
    font-weight: bolder;
    margin: 0;
    margin-top: 10px;
}
.img-stack-por .text-por .second-head{
    font-size: xx-large;
    margin: 10px 0;
}
.img-stack-por .text-por .para{
    font-family: sans-serif;
    text-align: justify;
}
.leaves-por{
    background-image: url('../images/leaves-background.jpg');
    background-size: cover;
}
.black-layer{
    background-color: rgba(0,0,0,0.2);
    padding: 80px 50px;
}
.black-layer .rows{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.img-rect{
    margin: 10px 0;
    width: 32%;
    height: 250px;
}
@media screen and (max-width: 970px){
    .img-rect{
        width: 48%;
    }
}
.black-layer .first-heading, .black-layer .second-heading{
    font-family: serif;
    color: white;
    margin-left: 20px;
}
.black-layer .first-heading{
    margin-bottom: 10px;
    font-size: x-large;
    font-weight: bold;
}
.black-layer .second-heading{
    margin-top: 10px;
    font-size: large;
}
.heart-por{
    margin: 80px 0;
}

.heart-por .line{
    display: flex;
    justify-content: center;
    background-color: lightgray;
    width: 100%;
    height: 1px;
}
.round-heart{
    background-color: lightgray;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: relative;
    top: -25px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-heart{
    color: white;
}
.customer-por{
    font-family: serif;
    padding: 50px;
}
.customer-por .first-heading{
    text-align: center;
    color: #77c300;
    font-size: xxx-large;
    font-weight: bolder;
    margin: 0;
    margin-top: 10px;
}
.customer-por .second-heading{
    text-align: center;
    color: #565656;
    font-size: xx-large;
    margin: 10px 0;
}
.review{
    background-color: #77c300;
    color: white;
    text-align: center;
    padding: 50px;
    margin-top: 50px;
    font-size: large;
    border-radius: 20px;
}
.arrow-box{
    margin: 0 auto;
    position: relative;
    top: -25px;
    transform: rotate(45deg);
    background-color: #77c300;
    height: 50px;
    width: 50px;
}
.side-avatar{
    margin-bottom: 5px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.middle-avatar{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 2px solid #77c300;
    margin: 0 15px;
}
.avatars-por{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.bw-pngs-por{
    padding: 50px;
    text-align: center;
}
.bw-por{
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 970px){
    .bw-por{
        display: block;
    }
}
.bw-img-cont{
    width: 100%;
    height: 200px;
}
.head-text{
    font-family: serif;
    color: #565656;
    font-size: x-large;
}